<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <!-- Logo in lg screen -->
    <div class="logo navbar-brand d-none d-sm-block">
      <div class="d-inline-flex">
        <a href="#">
          <img
            src="../../images/logo.png"
            width="63px"
            height="65px"
            alt="Logo OSF"
          />
        </a>
        <div>
          <p class="logo-text">OSF</p>
          <p class="logo-text-small">Academy</p>
        </div>
      </div>
    </div>
    <!-- logo sm screen -->
    <div class="navbar-nav mx-auto d-block d-sm-none">
      <a href="#">
        <img
          src="../../images/logo.png"
          width="63px"
          height="65px"
          alt="Logo OSF"
        />
      </a>
    </div>
    <!-- button sm screen -->
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarContent"
      aria-controls="navbars"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- nav bar content -->
    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="megamenu nav-item dropdown text-uppercase">
          <a
            class="nav-link text-center dropdown-toggle"
            href="#"
            id="megamenu"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="megamenu">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <a href="#" class="dropdown-item">Sub Menu - 1</a>
                  <a href="#" class="dropdown-item">Sub Menu - 2</a>
                  <a href="#" class="dropdown-item">Sub Menu - 3</a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="dropdown-item">Sub Menu - 1</a>
                  <a href="#" class="dropdown-item">Sub Menu - 2</a>
                  <a href="#" class="dropdown-item">Sub Menu - 3</a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="dropdown-item">Sub Menu - 1</a>
                  <a href="#" class="dropdown-item">Sub Menu - 2</a>
                  <a href="#" class="dropdown-item">Sub Menu - 3</a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="dropdown-item">Sub Menu - 1</a>
                  <a href="#" class="dropdown-item">Sub Menu - 2</a>
                  <a href="#" class="dropdown-item">Sub Menu - 3</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link text-center font-weight-bold text-uppercase"
            >Company</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link text-center font-weight-bold text-uppercase"
            >Library</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link text-center font-weight-bold text-uppercase"
            >Contact us</a
          >
        </li>
      </ul>
      <div class="actions-right">
        <a class="nav-item text-center" href="#">
          teste
        </a>
      </div>
    </div>
  </div>
</nav>
